*{ /* Reseteo de los estilos globales del navegador */
    box-sizing: border-box;   /* Propiedad para que todos los elementos ocupen todo el espaciado 
                                tanto interno y externo */
    margin:0px;               /* Para que no haya margenes hacia afuera */
    padding: 0px;             /* Para que no haya espaciado hacia dentro  */
}
body{
    background: url(img/Background.jpg);

    font-size: 18px;
    font-family: 'Noto Serif JP', serif;
    color: white;
    
}
.Container{
  width: 90%;
  margin: auto;
  
}
a{
    color: white;
    text-decoration: none;
}
ul{
 list-style: none;
}
/* Navigation */
.nav-main{
    font-size: 15px;
    display: flex; /* Me permitira organizar los elementos */
    justify-content: space-between; /* Permite ocupar todo el ancho disponible */
    align-items: center;
    height: 60px;/* altura por defecto */
    padding: 20px 0;
    border-radius: 20px;
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
}
.nav-brand{
    width: 450px;
}
/* nav LEFT */
.nav-main ul{
    display: flex;
}
.nav-main ul li {
    padding: 10px;
}
.nav-main ul li a{
   padding: 6px;
}
.nav-main ul li a:hover{
    border-bottom: 2px solid white;
   
}
.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 35px;
}
/* Show case */
.showcase{
    width: 100%;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-end;
}
.btn{
    cursor:pointer;
    display: inline-block;
    border:0 ;
    font-weight: bold;
    padding: 10px 20px;
    color: black;
    font-size: 15px;
    border-bottom: 1px solid white;
}
.btn:hover{
    opacity: .7;
}
.showcase h2,
.showcase p {
    margin-bottom: 10px;
}
/* News Cards */
.news-cards{
    display: grid;  /* Grillas de Css */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Me permite crear columnas */
    gap: 25px;                              /* Espaciado interno */

}
.news-cards img {
    width: 100%;
    height: 350px;
}